<h2>TestEdit component</h2>

<h3>Список вопросов</h3>

<div class='container' [dragula]='"first-bag"' [dragulaModel]="questions">
  <div *ngFor="let question of questions, let i = index">
    <div style="border: 1px solid black;">
    <div (click)="setCurrent(i)">{{question.text}}</div>
      <div *ngIf="i == curQuestion">
        <button (click)="deleteQuestion(i)">X</button>
        <div>Тип вопроса: 
           <input type="radio" name="questionType" value="simple">Одновыборный
           <input type="radio" name="questionType" value="multi">Многовыборный
           <input type="radio" name="questionType" value="open">Открытый<br/>
        </div>
        <div>Ответы:
   	<div *ngFor="let answer of question.answers, let j = index">
   	   <div *ngIf="answer.right">
   	     <input type="checkbox" (click)="changeAnswer(j)" checked>
   	     <span (click)="changeAnswer(j)" style="color: green">{{answer.text}}</span>
               <button (click)="deleteAnswer(j)">X</button>
   	   </div>
   	   <div *ngIf="!answer.right">
   	     <input type="checkbox" (click)="changeAnswer(j)">
   	     <span (click)="changeAnswer(j)" style="color: red">{{answer.text}}</span>
               <button (click)="deleteAnswer(j)">X</button>
   	   </div>

   	</div>
        </div>
        <form (submit)="addAnswer(textanswer.value, rightanswer.checked)">
          <label>Добавить ответ: </label><br />
          <textarea rows="4" cols="50" #textanswer></textarea>
          <input type="checkbox" #rightanswer> Правильный
          <button type="submit">Добавить</button>
          <br />
        </form>

      </div>
    </div>
  </div>
</div>

<br/>

<form (submit)="addQuestion(textquestion.value)">
  <label>Добавить вопрос: </label><br />
  <textarea rows="4" cols="50" #textquestion></textarea>
  <button type="submit">Добавить</button>
  <br />
</form>
